//COLORS
$primaryGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$error: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightGraylishViiolet: hsl(270, 3%, 87%);
$darkGraylishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

//VARIABLES 
$desktop: 1440px;
$fontSize: 18px;
$fontWeight: 500;